body{
    background: linear-gradient(to left, #089f8f, #fafa6e, #089f8f);
    animation: gradient 7s alternate infinite;
}
/* @keyframes gradient {
    0% {
       filter: hue-rotate(270deg);
    }

    50% {
        filter: hue-rotate(190deg);
    }

    100% {
    filter: hue-rotate(10deg);
    }
} */
a {
    text-decoration: none;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 25px;
    border: 2px solid white ;
    background-color: #089f8f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color:#FF6B6B;
}